*{
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: #33312B;
    margin: 0px;
}

nav{
    height: 5vh;
    padding: 10px;
}

/*Botão para retornar ao home*/
.botao_home{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ce9418;
    background-color: transparent;
    transition: 150ms;
}

.botao_home:hover{
    color: #e7ad30;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 100vh;
}

/*Div do conteudo central da tela*/
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    gap: 70px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px #1a1916;
    padding: 0px 30px;
}

/*Diva da foto*/
.foto{
    display: flex;
    margin-top: 60px;
}

/*Div das informações do usuário*/
.informacoes{
    width: 100%;
}

.informacoes h2{
    font-size: 16px;
    font-weight: 500;
    color: #202020;
    margin: 0px 0px 5px;
}

.informacoes p{
    font-size: 23px;
    font-weight: 600;
    color: #202020;
    margin: 0px 0px 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EAA71B;
}